:root {
  --bg: #0f172a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-color: var(--bg); /* base color */

    background-image:
        radial-gradient(1200px 600px at 5% 100px, rgba(167,139,250,0.25), transparent 60%),
        radial-gradient(900px 450px at 10% -100px, rgba(34,211,238,0.25), transparent 60%);

    background-repeat: no-repeat;
    background-size: cover; /* stretches gradients to fill screen */
    background-attachment: fixed; /* optional: makes it look smoother */
}

#quiz {
    width: 500px;                 /* controls the size */
    padding: 40px;                /* more breathing room */
    background-color: #1f7ead;
    border-radius: 10px;
    box-shadow: 0 0 10px whitesmoke; 
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);  /* perfectly centers the box */
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 0 0 5px #e31d75, 0 0 10px #e31d75, 0 0 15px #e31d75;
}

h2 {
    color: white;
}

#question {
    margin-bottom 20px;
    color: white;
}

#options {
    margin-top: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

button {
    background-color: #0f172a;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4b5269;
}

.option-btn {
    display: block;
    margin: 8px 0;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.correct {
    background-color: #4CAF50;
    color: white;
}

.wrong {
    background-color: #ff0000;
    color: white;
}

/* Progress Bar */
#progress-container {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 30px
}

#progress {
    height: 100%;
    width: 0%;
    background: #4CAF50;
    border-radius: 6px;
    transition: width 0.3s ease;
}

/* Buttons */
.option-btn {
    display: block;
    margin: 8px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.correct {
    background-color: #4CAF50 !important;
    color: white;
}

.wrong {
    background-color: #f44336 !important;
    color: white;
}

/* Review section */
.review-item {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}
